<input
  type="checkbox"
  [name]="input.id"
  [id]="input.id"
  [checked]="isChecked"
  (change)="changeCheck($event)"
/>
<label [for]="input.id" data-box="box">
  <svg
    width="11"
    height="10"
    viewBox="0 0 11 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M2.53125 5.3125L4.40625 7.1875L8.46875 3.125"
      stroke="#FEFEFE"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</label>
<label [for]="input.id">{{ input.label }}</label>
