.details
    margin: 16px 0
    padding: 0 16px

    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    
    border-left-width: 3px
    border-left-style: solid

    .title
        font-size: 18px
        font-weight: 400
        color: #333