<div class="empty" *ngIf="envases.length === 0">
  <span
    >Vaya, parece que no tienes ninguna carga en proceso. Presiona en el botón
    “+” para iniciar una carga nueva</span
  >
</div>

<div *ngIf="envases" id="CargaEnvases">
  <app-card *ngFor="let item of envases" [card]="item.cardEnvase"></app-card>

  <style type="text/css" media="all">
    .tg {
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0px auto;
      text-align: center;
    }
    .tg td {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      text-align: center;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    .tg th {
      border-color: black;
      border-style: solid;
      border-width: 1px;
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }
    .tg .tg-0lax {
      text-align: center;
      vertical-align: top;
    }

    .tg .tg-0lax:nth-child(2) {
      text-align: left;
    }

    .tg .tg-0lax:nth-child(3) {
      text-align: left;
    }
    thead tr th.tg-0lax {
      text-align: center;
    }
  </style>
  <div class="tg-wrap">
    <table class="tg">
      <thead>
        <tr>
          <th class="tg-0lax">Cant.</th>
          <th class="tg-0lax">Descripción</th>
          <th class="tg-0lax">Tipo / Color</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of envases">
          <td class="tg-0lax">{{ item.cardEnvase.cantidad }}</td>
          <td class="tg-0lax">{{ item.cardEnvase.nombre | titlecase }}</td>
          <td class="tg-0lax">{{ item.cardEnvase.tipo | titlecase }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
