<div class="empty" *ngIf="envases.length === 0">
  <span
    >Vaya, parece que no tienes ninguna carga en proceso. Presiona en el botón
    “+” para iniciar una carga nueva</span
  >
</div>

<div *ngIf="envases" id="CargaEnvases">
  <app-card *ngFor="let item of envases" [card]="item.cardEnvase"></app-card>
  <table style="margin: 0 auto;">
    <tbody>
      <tr>
        <td>Descripción</td>
        <td>Color</td>
        <td>Cantidad</td>
      </tr>
      <tr *ngFor="let item of envases">
        <td>{{ item.cardEnvase.nombre }}</td>
        <td>{{ item.cardEnvase.tipo }}</td>
        <td>{{ item.cardEnvase.cantidad }}</td>
      </tr>
    </tbody>
  </table>
</div>
